/*
 * General styling
 */

*, *:before, *:after {
	@include box-sizing(border-box);
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.4;
	color: $general-text-color;
}

a {
	color: $link-color;
	@include hover-link;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: $header-color;
}

header {
	h2 {
		font-size: 2.6em;
		line-height: 1;

		@include breakpoint(max-width $M) {
			font-size: 2.2em;
		}

		a {
			color: inherit;

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	small {
		font-size: 60%;
	}
}

h3 {
	font-size: 1.5em;
}

iframe {
	border: none;
}

img {
	width: 100%;
}
