/*
 * General layout
 */

html, body {
	height: 100%;
}


// First flexbox group

body {
	@include display-flex;
	@include flex-direction(column);
}

.nav-container {
	@include flex(0 0 auto);
}

.main-container {
	@include flex(1 1 auto);
}

.footer-container {
	@include flex(0 0 auto);
}


// Second flexbox group

.nav-container {
	@include display-flex;
	@include flex-direction(row);
}

.nav-header {
	@include flex(0 0 auto);
}

.nav-menu-wrapper {
	@include flex(1 1 auto);
}

.nav-lang-wrapper {
	@include flex(0 0 auto);
}


// Layout for small devices

@include breakpoint(max-width $M) {
	.nav-header {
		@include flex(1 1 auto);
	}

	.nav-menu-wrapper {
		position: absolute;
		top: $nav-margin;
		left: 0;
	}

	.nav-lang-wrapper {
		position: absolute;
		top: $nav-margin;
		right: $nav-margin;
	}
}
