/*
 * Content components
 */

.main-container {
	padding: $main-container-top-padding $container-sides-padding 0 $container-sides-padding;
}

h2 {
	background: linear-gradient(115deg, white, 
	                                    white 6em, 
	                                    $header-bg-color 9.1em, 
	                                    transparent 9.11em, 
	                                    transparent 9.25em, 
	                                    $header-bg-color 9.26em, 
	                                    $header-bg-color 9.5em, 
	                                    transparent 9.51em, 
	                                    transparent 10.2em, 
	                                    $header-bg-color 10.21em, 
	                                    $header-bg-color 10.35em, 
	                                    transparent 10.36em, 
	                                    transparent 11.5em, 
	                                    $header-bg-color 11.51em, 
	                                    $header-bg-color 11.58em, 
	                                    transparent 11.59em, 
	                                    transparent),
	            url("mountains.jpg");
	background-size: cover;
	background-position: left, right;
	background-repeat: no-repeat, no-repeat;
	line-height: 1.3
}

.section-separator {
	border-top: 1px dotted $footer-border-color;
}

.reservation-link2 {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
	
	a {
		padding: 1em 1.5em;
		border-radius: 3px;
		color: $reservation-link-color;
		background-color: $reservation-link-bg-color;
		box-shadow: 1px 3px 4px 1px $shadow-color;
		transition: color $speed, background-color $speed;
	}

	a:hover, a:focus {
		color: $reservation-link-hover-color;
		background-color: $reservation-link-hover-bg-color;
	}
}

.reservation-link {
	display: table;
	padding: 1em 1.5em;
	margin: 2em auto 0 auto;
	border-radius: 3px;
	color: $reservation-link-color;
	background-color: $reservation-link-bg-color;
	box-shadow: 1px 3px 4px 1px $shadow-color;
	transition: color $speed, background-color $speed;

	&:hover, &:focus {
		color: $reservation-link-hover-color;
		background-color: $reservation-link-hover-bg-color;
	}
}


// Style for small, medium and large devices

@media (max-width: $L) {
	.main-container {
		padding: $main-container-top-padding $container-sides-padding-lowres 0 $container-sides-padding-lowres;
	}
}


// Style for small devices

@media (max-width: $S) {
	h2, h3, h4 {
		background: transparent; 
		margin: 0.5em 0;
	}
}
