/*
 * Content components
 */

.main-container {
	padding: $main-container-top-padding $container-sides-padding 0 $container-sides-padding;
}

h2 {
	background: linear-gradient(115deg, white, 
	                                    white 6em, 
	                                    $header-bg-color 9.1em, 
	                                    transparent 9.11em, 
	                                    transparent 9.25em, 
	                                    $header-bg-color 9.26em, 
	                                    $header-bg-color 9.5em, 
	                                    transparent 9.51em, 
	                                    transparent 10.2em, 
	                                    $header-bg-color 10.21em, 
	                                    $header-bg-color 10.35em, 
	                                    transparent 10.36em, 
	                                    transparent 11.5em, 
	                                    $header-bg-color 11.51em, 
	                                    $header-bg-color 11.58em, 
	                                    transparent 11.59em, 
	                                    transparent),
	            url("mountains.jpg");
	background-size: cover;
	background-position: left, right;
	background-repeat: no-repeat, no-repeat;
	line-height: 1.3;
}

article > section {
	border-top: 1px dotted $footer-border-color;
}

.reservation-link {
	display: inline-block;
	padding: 1em 1.5em;
	margin: 1em 0;
	border-radius: 3px;
	text-align: center;
	color: $reservation-link-color;
	background-color: $reservation-link-bg-color;
	box-shadow: 1px 3px 4px 1px $shadow-color;
	transition: color $speed, background-color $speed;

	&:hover, &:focus {
		color: $reservation-link-hover-color;
		background-color: $reservation-link-hover-bg-color;
	}
}


// Style for small, medium and large devices

@media (max-width: $L) {
	.main-container {
		padding: $main-container-top-padding $container-sides-padding-lowres 0 $container-sides-padding-lowres;
	}

	.reservation-link {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}
