/*
 * Footer components
 */

.footer-container {
	padding: 0 $container-sides-padding;
	border-top: 1px dotted $footer-border-color;
	background: $footer-bg-color;
	font-size: 0.9em;
}

.footer-content {
	color: $footer-color;
	overflow: auto;
}

.footer-cute-sentence {
	margin-top: 0;
	float: right;

	a {
		color: inherit;
	}
}


// Style for small, medium and large devices

@media (max-width: $L) {
	.footer-container {
		padding: 0 $container-sides-padding-lowres;
	}
}
