/*
 * Navigation bar components
 */

.nav-container {
	width: 100%;
	padding: $nav-margin;
	background-color: $nav-bg-color;
	box-shadow: 0px 3px 3px $nav-shadow-color;

	a:hover, a:focus {
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		list-style-type: none;
	}
}

.nav-header {
	width: $nav-header-width;
	margin: 0;
	font-size: 1.0em;
}

.nav-item {
	display: block;
	padding: $nav-item-padding;
	font-size: 1.0em;
	text-align: center;
	white-space: nowrap;
	color: $nav-item-color;
	background-color: $nav-item-bg-color;
	
	&:hover {
		color: $nav-item-hover-color;
		background-color: $nav-item-hover-bg-color;
	}
}

.is-header-item {
	&:hover {
		background-color: $nav-item-bg-color;
	}
}

.is-menu-item {
	display: none;
}

.is-active-item {
	background-color: $nav-active-item-bg-color;

	&:hover {
		background-color: $nav-active-item-hover-bg-color;
	}
}

.is-reservation-item {
	&:hover {
		color: $nav-reservation-item-hover-color;
		background-color: $nav-reservation-item-hover-bg-color;
	}
}

@media (max-width: $M) {
	.nav-menu-wrapper {
		&:hover {
			width: 100%;
		}
		
		&:hover .is-menu-item {
			background-color: $nav-item-hover-bg-color;
		}
	}

	.is-menu-item {
		display: inline-block;
		margin-left: $nav-margin;
	}
	
	.nav-menu-list {
		display: none;

		.nav-menu-wrapper:hover & {
			display: block;
			margin-top: $nav-margin;
			background-color: $nav-bg-color;
		}

		li {
			display: list-item;
		}
		
		.nav-item {
			text-align: left
		}
	}
}


/*
 * Content components
 */

.main-container {
	padding-left: 10%;
	padding-right: 20%;
	margin-top: 3em;

	@media (max-width: $XL) {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.pictures-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	
	margin: 0;

	@media (max-width: $M) {
		grid-template-columns: 1fr;
	}
}

.map-container {
	width: 100%;
	height: 400px;
}

/*
 * Footer components
 */

.footer-container {
	padding-left: 10%;
	padding-right: 20%;

	@media (max-width: $XL) {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.footer-container > div {	
	border-top: 1px dotted $footer-border-color;
	padding: 0.5em 0;
	color: $footer-color;
}

.separator {
	padding: 0 0.5em;
}


/*
 * Icons
 */

.menu-icon:before {
	font-family: "FontAwesome";
	content: $fa-bars;
}

.envelope-icon:before {
	font-family: "FontAwesome";
	content: $fa-envelope-o;
}

.phone-icon:before {
	font-family: "FontAwesome";
	content: $fa-phone;
}

.noSpam-icon:before {
	font-family: "FontAwesome";
	content: $fa-at;
}

.handMade-icon:before {
	font-family: "FontAwesome";
	content: $fa-paw;
}
