// Media queries breakpoint variables
$S:  480px; // 30em for 16px body font
$M:  928px; // 58em for 16px body font
$L: 1440px; // 90em for 16px body font

// Size variables
$nav-padding: 0.25em;
$nav-margin: 0;
$nav-header-width: 12em;
$nav-item-border: 0.05em;
$nav-item-padding: 0.2em 0.7em;
$nav-item-padding-with-border: 0.15em 0.65em;
$container-sides-padding: 10%;
$container-sides-padding-lowres: 5%;
$main-container-top-padding: 2.5em;
$picture-padding: 0.4em;
$picture-padding-lowres: 0.15em;

// Color variables
$alpha: 0.96;
$general-text-color: lighten(black, 35%);
$shadow-color: lighten(black, 60%);
$header-color: lighten(black, 40%);
$link-color: lighten(blue, 20%);
$border-color: rgba(white, 0.1);
$nav-bg-color: rgba(lighten(black, 10%), $alpha);
$nav-middle-bg-color: rgba(lighten(black, 25%), $alpha);
$nav-shadow-color: rgba(darken($shadow-color, 20%), $alpha);
$nav-item-color: darken(white, 10%);
$nav-item-hover-color: lighten($nav-item-color, 20%);
$nav-item-bg-color: transparent;
$nav-item-hover-bg-color: rgba(white, 0.3);
$nav-active-item-bg-color: rgba(0, 150, 255, 0.7);
$nav-active-item-hover-bg-color: rgba(0, 150, 255, 1.0);
$picture-bg-color: darken(white, 2%);
$zoom-container-bg-color: rgba(black, 0.5);
$reservation-link-color: $nav-item-color;
$reservation-link-hover-color: $nav-item-hover-color;
$reservation-link-bg-color: rgb(21, 126, 200);
$reservation-link-hover-bg-color: lighten($reservation-link-bg-color, 10%);
$footer-color: lighten($general-text-color, 20%);
$footer-bg-color: darken(white, 2%);
$footer-border-color: darken(white, 20%);

// Other variables
$speed: 0.6s;