// Media queries breakpoint variables
$S:  480px; // 30em for 16px body font
$M:  816px; // 51em for 16px body font
$L: 1440px; // 90em for 16px body font

// Size variables
$nav-padding: 0.3em;
$nav-margin: 0;
$nav-header-width: 12em;
$nav-item-padding: 0.4em 0.7em;
$container-sides-padding: 10%;
$container-sides-padding-lowres: 5%;
$main-container-top-padding: 2.5em;
$picture-padding: 0.7em;
$picture-padding-lowres: 0.2em;

// Color variables
$alpha: 0.9;
$general-text-color: lighten(black, 20%);
$shadow-color: lighten(black, 60%);
$header-color: lighten(black, 40%);
$link-color: lighten(blue, 20%);
$nav-bg-color: rgba(black, $alpha);
$nav-shadow-color: rgba(darken($shadow-color, 20%), $alpha);
$nav-item-color: darken(white, 10%);
$nav-item-bg-color: transparent;
$nav-item-hover-color: lighten($nav-item-color, 20%);
$nav-item-hover-bg-color: rgba(lighten($nav-bg-color, 30%), 0.8*$alpha);
$nav-active-item-bg-color: rgba(green, 0.8*$alpha);
$nav-active-item-hover-bg-color: lighten($nav-active-item-bg-color, 30%);
$picture-bg-color: darken(white, 3%);
$reservation-link-color: darken(white, 10%);
$reservation-link-hover-color: white;
$reservation-link-bg-color: lighten(#ff6a00,10%);
$reservation-link-hover-bg-color: #ff6a00;
$footer-color: lighten($general-text-color, 20%);
$footer-border-color: darken(white, 20%);
