// Break points
$XS: 288px; // 18em for 16px body font
$S: 480px; // 30em for 16px body font
$M: 688px; // 50em for 16px body font
$L: 912px; // 57em for 16px body font
$XL: 1200px; // 75em for 16px body font
$XXL: 1440px; // 90em for 16px body font

// General colors
$general-text-color: lighten(black, 20%);
$header-color: lighten(black, 40%);
$link-color: lighten(blue, 20%);
$picture-bg-color: darken(white, 3%);
$picture-shadow-color: lighten(black, 60%);
$footer-color: lighten($general-text-color, 20%);
$footer-border-color: darken(white, 20%);

// General variables
$container-sides-padding: 10%;
$container-sides-padding-lowres: 5%;
$main-container-top-padding: 2.5em;
$picture-padding: 1em 1em 2em 1em;

// Nav colors
$alpha: 0.9;
$nav-bg-color: rgba(black, $alpha);
$nav-shadow-color: rgba(lighten(black, 40%), $alpha);
$nav-item-color: darken(white, 10%);
$nav-item-bg-color: transparent;
$nav-item-hover-color: lighten($nav-item-color, 20%);
$nav-item-hover-bg-color: rgba(lighten($nav-bg-color, 30%), 0.8*$alpha);
$nav-active-item-bg-color: rgba(green, 0.8*$alpha);
$nav-active-item-hover-bg-color: lighten($nav-active-item-bg-color, 30%);
$nav-reservation-item-hover-color: lighten($nav-item-color, 20%);
$nav-reservation-item-hover-bg-color: lighten(red, 10%);

// Nav variables
$nav-padding: 0.3em;
$nav-margin: 0;
$nav-header-width: 12em;
$nav-item-padding: 0.4em 0.7em;
